@CHARSET "utf-8";/*이것만 주석임*/
h1, h3 {text-decoration: underline;}
#text1{font-weight: bold;}
.text2{font-style: italic;}
* {color: blue;text-align: center;}
h1{background-color: yellow;border: 2px solid;}h3{color: pink;text-align: right;